@import url("./variables.css"), url("./fonts.css"), url("./components/nav.css"),
    url("./components/footer.css");

@keyframes modalIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes modalOut {
    from {
        opacity: 1;
        filter: blur(0px);
    }
    to {
        opacity: 0;
        filter: blur(6px);
    }
}

@keyframes modalBackdropIn {
    from {
        background: rgba(0, 0, 0, 0);
        filter: blur(2px);
    }
    to {
        background: rgba(0, 0, 0, 0.5);
        filter: blur(0px);
    }
}

@keyframes modalBackdropOut {
    from {
        background: rgba(0, 0, 0, 0.5);
        filter: blur(0px);
    }
    to {
        background: rgba(0, 0, 0, 0);
        filter: blur(2px);
    }
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    scrollbar-color: var(--primary) var(--surface-2);
    scrollbar-width: auto;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background: var(--surface-1);
    margin-top: 192px;
    padding: 0 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
    &.modal-open {
        overflow: hidden;
    }
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
p strong::selection,
a::selection,
li::selection {
    color: var(--surface-3);
    background: var(--on-surface-1);
}

h1 {
    font-family: "Parisienne";
    line-height: 100%;
    font-size: 2.5rem;
    color: var(--on-surface-1);
    font-weight: normal;
}

h2 {
    font-family: "Outfit";
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 450;
    color: var(--primary);
}

h3 {
    font-family: "Outfit";
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--primary);
}

p {
    font-family: "Outfit";
    font-weight: 350;
    font-size: 1.25rem;
    line-height: 125%;
    color: var(--primary);
    strong {
        font-weight: 450;
    }
    a {
        font-weight: 450;
        -webkit-text-decoration: underline wavy;
        text-decoration: underline wavy;
        text-decoration-thickness: 1.5px;
        color: var(--on-surface-2);
        transition: color 0.125s ease;
        display: inline;
        &:hover {
            color: rgb(119, 75, 66);
        }
        &:active {
            color: rgb(105, 66, 59);
        }
    }
}

a {
    text-decoration: none;
    p {
        font-size: 1.25rem;
        font-weight: 350;
    }
    &.button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 1.25rem 0.75rem 1rem;
        gap: 0.5rem;
        border: none;
        border-radius: 1.25rem;
        cursor: pointer;
        background: var(--on-surface-2);
        transition: background 0.2s ease;
        &:hover {
            background: rgb(160, 101, 89);
        }
        &:active {
            background: var(--on-surface-2);
        }
        p {
            color: var(--surface-1);
        }
    }
}

li {
    font-family: "Outfit";
    font-size: 1.25rem;
    font-weight: 350;
    line-height: 125%;
    list-style: inside;
    strong {
        font-weight: 450;
    }
}

.photo-frame {
    width: 202px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0.5rem 2.75rem 0.5rem;
    gap: 0.5rem;
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5));
    img {
        aspect-ratio: 1 / 1;
        width: 100%;
    }
    p {
        position: absolute;
        bottom: 2%;
        font-family: "Parisienne";
        font-size: 1.75rem;
        color: var(--primary);
    }
}

.line-break {
    width: 100%;
    max-width: 1100px;
    border-top: dashed 4px var(--on-surface-2);
}

img::selection {
    background: var(--on-surface-1);
}

.page-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 1rem;
    img {
        height: 5rem;
        width: fit-content;
    }
    h1 {
        text-align: center;
        color: var(--on-surface-1);
    }
}

.modal {
    visibility: hidden;
    inset: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16rem 0 4rem 0;
    z-index: 700;
    inset: 0;
    overflow-y: auto;
    scrollbar-width: none;
    // scrollbar-gutter: stable both-edges;
    &.show {
        pointer-events: auto;
        visibility: visible;

        .modal__backdrop {
            animation: modalBackdropIn 0.5s ease forwards;
        }
        .modal__content {
            animation: modalIn 0.5s ease forwards;
        }
    }
    &.closing {
        pointer-events: auto;
        visibility: visible;
        .modal__backdrop {
            animation: modalBackdropOut 0.3s ease forwards;
        }
        .modal__content {
            animation: modalOut 0.3s ease forwards;
        }
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        scrollbar-gutter: stable;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        z-index: 500;
    }
    &__content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        background: var(--surface-3);
        border-radius: 2rem;
        padding: 1rem;
        gap: 2.25rem;
        width: 100%;
        max-width: 1100px;
        overflow: visible;
        z-index: 600;
        header {
            display: flex;
            flex-flow: column nowrap;
            border-radius: 1.5rem;
            gap: 1rem;
            .title-wrapper {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: 1rem 0.75rem 1rem 1.5rem;
                border-radius: 1.5rem;
                background: var(--primary);
                h3 {
                    color: var(--surface-1);
                }
                button {
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--surface-1);
                    gap: 0.5rem;
                    border-radius: 0.75rem;
                    border: none;
                    cursor: pointer;
                    transition: background 0.2s ease;
                    img {
                        aspect-ratio: 1 / 1;
                        height: 1.75rem;
                    }
                    &:active {
                        background: var(--on-surface-1);
                    }
                }
            }
            .characteristics {
                display: flex;
                flex-flow: row wrap;
                gap: 0.75rem;
                p {
                    color: var(--surface-1);
                    background: var(--on-surface-1);
                    padding: 0.5rem 1.125rem;
                    border-radius: 1rem;
                }
            }
        }
        > div:not(.photo-frame) {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
            p {
                color: var(--primary);
            }
            ul {
                li {
                    color: var(--primary);
                }
            }
        }
        a {
            width: fit-content;
            align-self: end;
        }
    }
}

@media screen and (min-width: 954px) {
    h1 {
        line-height: 100%;
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
        letter-spacing: 4px;
    }

    h3 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.5rem;
    }
    a {
        p {
            font-size: 1.5rem;
        }
        &.button {
            padding: 0.75rem 1.25rem 0.75rem 1rem;
        }
    }

    li {
        font-size: 1.5rem;
    }

    .photo-frame {
        padding: 1rem 0.75rem 4rem 0.75rem;
        width: 304px;
        gap: 0.5rem;
        img {
            width: 100%;
        }
        p {
            font-size: 2.25rem;
        }
    }

    .page-header {
        padding: 2rem 4rem;
        img {
            height: 5.75rem;
        }
    }

    .modal {
        &__content {
            border-radius: 2.5rem;
            padding: 2rem;
            header {
                border-radius: 1.5rem;
                gap: 1.5rem;
                .title-wrapper {
                    gap: 1rem;
                    padding: 1rem 0.75rem 1rem 1.5rem;
                    border-radius: 1.5rem;
                    button {
                        height: 100%;
                        scale: 1.25;
                        transform-origin: center right;
                        img {
                            aspect-ratio: 1 / 1;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
