<footer class="footer">
    <div class="footer__logo">
        <img
            src="/assets/svg/logo/logo_text_icon.svg"
            alt="LMCA"
            class="footer__logo__icon"
        />
        <div class="footer__logo__text">
            <p>Laetitia Muratore</p>
            <p>Communication Animale</p>
        </div>
    </div>
    <div class="footer__line"></div>
    <div class="footer__right-section">
        <div class="footer__right-section__pages">
            <h3>Pages</h3>
            <a href="/src/pages/about.html">
                <p>La communication animale</p>
            </a>
            <a href="/src/pages/who.html">
                <p>Qui suis-je</p>
            </a>
            <a href="/src/pages/reviews.html">
                <p>Témoignages</p>
            </a>
            <a href="/src/pages/ethic.html">
                <p>Éthique & Charte</p>
            </a>
            <a href="/src/pages/formations.html">
                <p>Formations</p>
            </a>
            <a href="/src/pages/contact.html"><p>RDV & Contact</p> </a>
        </div>
        <div class="footer__right-section__contact">
            <h3>Me contacter</h3>
            <a
                href="mailto:laetitiamuratore.com.animale@gmail.com"
                class="footer__right-section__contact__mail-button"
            >
                <img src="/assets/svg/buttons/mail.svg" alt="Lettre" />
                <p>laetitiamuratore.com.animale@gmail.com</p>
            </a>
            <!-- <a
                href="tel:0477/91.66.03"
                class="footer__right-section__contact__phone-button"
            >
                <img src="/assets/svg/buttons/call.svg" alt="Téléphone" />
                <p>0477/91.66.03 (appel ou SMS)</p>
            </a> -->
        </div>
    </div>
</footer>
