<header class="nav-header">
    <a href="/index.html" class="nav-header__logo">
        <img
            src="/assets/svg/logo/logo_text_only_dark.svg"
            alt="LMCA"
            class="nav-header__logo__icon"
    /></a>
    <button class="nav-header__hamburger-menu-button">
        <img
            src="/assets/svg/navIcons/hamburger.svg"
            alt="Trois lignes horizontales"
        />
    </button>
</header>

<a href="/index.html" class="desktop-logo">
    <img
        src="/assets/svg/logo/logo_text_icon.svg"
        alt="LMCA"
        class="desktop-logo__icon"
/></a>

<nav id="nav">
    <div class="hamburger-menu__header">
        <a href="/index.html" class="hamburger-menu__header__logo">
            <img
                src="/assets/svg/logo/logo_text_only_light.svg"
                alt="LMCA"
                class="hamburger-menu__header__logo__icon"
        /></a>
        <button class="hamburger-menu__header__close-button">
            <img src="/assets/svg/navIcons/close.svg" alt="Croix" />
        </button>
    </div>

    <a href="/index.html">
        <img src="/assets/svg/navIcons/home.svg" alt="Maison" />
        <p>Accueil</p>
    </a>
    <div class="ca-drop-down-menu">
        <div class="ca-drop-down-menu__title">
            <img src="/assets/svg/navIcons/about.svg" alt="Patte d'animal" />
            <p>Communication animale</p>
            <img
                src="/assets/svg/navIcons/arrow_drop_down.svg"
                alt="Flèche vers le bas"
            />
        </div>
        <ul>
            <li>
                <a href="/src/pages/about.html">
                    <img
                        src="/assets/svg/navIcons/about.svg"
                        alt="Patte d'animal"
                    />
                    <p>La communication animale</p>
                </a>
            </li>
            <li>
                <a href="/src/pages/who.html">
                    <img src="/assets/svg/navIcons/who.svg" alt="Personne" />
                    <p>Qui suis-je</p>
                </a>
            </li>
            <li>
                <a href="/src/pages/reviews.html">
                    <img
                        src="/assets/svg/navIcons/reviews.svg"
                        alt="Bulle de message contenant une étoile"
                    />
                    <p>Témoignages</p>
                </a>
            </li>
            <li>
                <a href="/src/pages/ethic.html">
                    <img
                        src="/assets/svg/navIcons/ethic.svg"
                        alt="Feuille de papier"
                    />
                    <p>Éthique & charte</p>
                </a>
            </li>
        </ul>
    </div>
    <a href="/src/pages/formations.html">
        <img
            src="/assets/svg/navIcons/formations.svg"
            alt="Chapeau de diplomé"
        />
        <p>Formations</p>
    </a>
    <a href="/src/pages/contact.html">
        <img src="/assets/svg/navIcons/contact.svg" alt="" />
        <p>RDV & contact</p>
    </a>
</nav>
