#footer-wrapper {
    overflow-x: hidden;
    .footer {
        margin-top: 128px;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 100vw;

        background: var(--surface-3);
        padding: 2rem 2rem 4rem 2rem;
        gap: 2rem;
        &__logo {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            &__icon {
                height: 100%;
            }
            &__text {
                display: flex;
                flex-flow: column nowrap;
                width: fit-content;
                p {
                    font-family: "Parisienne", serif;
                }
                p:first-of-type {
                    font-size: 2rem;
                    font-weight: 500;
                }
                p:last-of-type {
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
        &__line {
            height: 2px;
            width: auto;
            background: var(--on-surface-2);
        }
        &__right-section {
            display: flex;
            flex-flow: column nowrap;
            gap: 3rem;
            &__pages {
                display: flex;
                flex-flow: column nowrap;
                gap: 0.5rem;
                a {
                    color: var(--primary);
                }
            }
            &__contact {
                display: flex;
                flex-flow: column nowrap;
                gap: 0.75rem;

                a {
                    width: fit-content;
                }
            }
        }
    }
}

@media screen and (min-width: 954px) {
    #footer-wrapper {
        .footer {
            flex-flow: row nowrap;
            padding: 3rem 1.5rem;
            gap: 1.5rem;
            &__line {
                width: 2px;
                height: auto;
            }
            &__right-section {
                flex-flow: row nowrap;
                gap: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 1340px) {
    #footer-wrapper {
        .footer {
            padding: 64px 32px;
            gap: 32px;
            &__right-section {
                gap: 32px;
            }
        }
    }
}
