#footer-wrapper {
    overflow-x: hidden;
    .footer {
        margin-top: 128px;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 100vw;

        background: var(--surface-3);
        padding: 32px 32px 64px 32px;
        gap: 32px;
        &__logo {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            // width: fit-content;
            // height: 100%;
            &__icon {
                height: 100%;
            }
            &__text {
                display: flex;
                flex-flow: column nowrap;
                width: fit-content;
                p:first-of-type {
                    font-size: 24px;
                    font-weight: 500;
                }
                p:last-of-type {
                    font-size: 17.25px;
                    font-weight: 400;
                }
            }
        }
        &__line {
            height: 2px;
            width: auto;
            background: var(--on-surface-2);
        }
        &__right-section {
            display: flex;
            flex-flow: column nowrap;
            gap: 48px;
            &__pages {
                display: flex;
                flex-flow: column nowrap;
                gap: 8px;
                a {
                    color: var(--primary);
                }
            }
            &__contact {
                display: flex;
                flex-flow: column nowrap;
                gap: 12px;

                a {
                    width: fit-content;
                }
            }
        }
    }
}

@media screen and (min-width: 954px) {
    #footer-wrapper {
        .footer {
            flex-flow: row nowrap;
            padding: 48px 24px;
            gap: 24px;
            &__line {
                width: 2px;
                height: auto;
            }
            &__right-section {
                flex-flow: row nowrap;
                gap: 24px;
            }
        }
    }
}

@media screen and (min-width: 1340px) {
    #footer-wrapper {
        .footer {
            padding: 64px 32px;
            gap: 32px;
            &__right-section {
                gap: 32px;
            }
        }
    }
}
