#nav-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1100;
    pointer-events: none;
    .nav-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding: 1.5rem;

        &.hide {
            display: none;
        }
        &__logo {
            padding: 0;
            width: fit-content;
            height: 100%;
            pointer-events: auto;
            display: flex;
            flex-flow: row;
            justify-content: start;
            &.hide {
                display: none;
            }
            &__icon {
                height: 100%;
                aspect-ratio: auto;
                padding: 0.5rem;
                filter: drop-shadow(0 0 32px rgba(232, 209, 197, 1));
            }
        }
        &__hamburger-menu-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.75rem;
            background: var(--primary);
            border-radius: 16px;
            height: fit-content;
            border: none;
            pointer-events: auto;

            filter: drop-shadow(0 0 64px rgba(232, 209, 197, 0.25));
            cursor: pointer;
            z-index: 900;
            transition: background 0.2s ease;
            &:active {
                background: var(--on-surface-1);
            }
        }
    }
    .desktop-logo {
        display: none;
        pointer-events: auto;
    }
    nav {
        background: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition:
            background 0.2s ease,
            backdrop-filter 0.6s ease;
        padding: 1.5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        z-index: 1000;

        &.show {
            opacity: 1;
            pointer-events: auto;
            background: rgba(60, 33, 29, 0.95);
            backdrop-filter: blur(6px);
            .ca-drop-down-menu ul {
                background: rgba(52, 29, 25, 0.75);
            }
        }

        .hamburger-menu__header {
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-between;
            height: fit-content;
            margin-bottom: 8px;
            &__logo {
                padding: 0;
                width: fit-content;
                height: 100%;
                pointer-events: auto;
                display: flex;
                flex-flow: row;
                justify-content: start;
                &__icon {
                    height: 100%;
                    aspect-ratio: auto;
                    padding: 8px;
                    filter: drop-shadow(0 0 64px rgba(232, 209, 197, 0.25));
                }
            }
            &__close-button {
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.75rem;
                background: #341d19;
                border-radius: 16px;
                border: none;
                cursor: pointer;
                transition: background 0.2s ease;
                img {
                    aspect-ratio: 1 / 1;
                    height: 1.75rem;
                }
                &:active {
                    background: var(--on-surface-1);
                }
            }
        }
        p {
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 1rem;
            color: var(--surface-1);
            text-decoration: none;
        }
        img {
            aspect-ratio: 1 / 1;
            height: 1.5rem;
        }
        a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;
            width: 100%;
            padding: 0.75rem 1rem;
            border-radius: 12px;
            transition: background 0.2s ease;
            &:hover {
                background: rgba(144, 95, 86, 0.25);
            }
            &:active {
                background: rgba(144, 95, 86, 0.5);
            }
            p {
                width: 100%;
            }
        }
        .ca-drop-down-menu {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.5rem;
            &__title {
                display: flex;
                flex-flow: row nowrap;
                gap: 0.75rem;
                padding: 0.75rem 1rem;
                z-index: 700;
                img:nth-of-type(2) {
                    display: none;
                }
            }
            ul {
                margin-left: 2rem;
                background: none;
                transition: background 0.2s ease;
                border-radius: 16px;
                padding: 0.5rem;
                list-style: none;
                overflow: hidden;
                z-index: 600;
                li {
                    display: flex;
                    flex-flow: row nowrap;
                    a {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 954px) {
    #nav-wrapper {
        display: flex;
        padding: 0 1rem;
        height: fit-content;
        overflow: visible;
        .nav-header {
            display: none;
        }
        nav {
            border-radius: 24px;
            padding: 0.75rem 0.5rem;
            max-width: 1100px;
            height: fit-content;
            opacity: 1;
            pointer-events: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            background: rgba(60, 33, 29, 0.85);
            filter: drop-shadow(0 0 64px rgba(232, 209, 197, 0.25));
            backdrop-filter: blur(6px);
            margin: auto;
            margin-top: 2rem;
            .hamburger-menu__header {
                display: none;
            }
            a {
                width: fit-content;
                img {
                    height: 20px;
                }
            }
            .ca-drop-down-menu {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: relative;
                transition: background 0.2s ease;
                &:hover {
                    .ca-drop-down-menu__title {
                        background: #905f56;

                        img:nth-of-type(2) {
                            transform: rotate(180deg);
                        }
                    }
                    ul {
                        background: #673d35;
                        height: 245px;
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
                &__title {
                    padding: 0.75rem 1.5rem;
                    background: none;
                    border-radius: 12px;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 0.5rem;
                    transition: background 0.2s ease;
                    img {
                        height: 20px;
                    }
                    img:nth-of-type(2) {
                        display: inline;
                        transition: transform 0.25s ease;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: start;
                    width: 100%;
                    padding: 50px 8px 8px 8px;
                    margin: 0;
                    gap: 0.25rem;
                    border-radius: 12px;
                    height: 50px;
                    opacity: 0;
                    pointer-events: none;
                    transition: height 0.4s ease;
                    li {
                        gap: 0.5rem;
                        width: 100%;
                        a {
                            height: 100%;
                            width: 100%;
                            padding: 12px;
                            gap: 0.5rem;
                            &:hover {
                                background: rgba(60, 33, 29, 0.5);
                            }
                            &:active {
                                background: rgba(60, 33, 29, 0.75);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1160px) {
    #nav-wrapper {
        padding: 0 4rem;
        nav {
            padding: 0.75rem 4rem;
        }
    }
}

@media screen and (min-width: 1415px) {
    #nav-wrapper .desktop-logo {
        display: inline-block;
        position: absolute;
        height: fit-content;
        top: 1.5rem;
        left: 1.5rem;
        height: 190px;
        &.hide {
            display: none !important;
        }
    }
}
