body {
    gap: 4rem;
    padding: 0;
    &.modal-open {
        overflow: hidden;
        height: 100vh;
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 1100px;
    gap: 3rem;
    background: var(--primary);
    border-radius: 2rem;
    section {
        display: flex;
        flex-flow: column nowrap;
        gap: 1.75rem;
        color: var(--surface-1);
        h2 {
            color: var(--surface-1);
            width: 100%;
            text-align: center;
            padding: 0 1rem;
        }
        .paragraph-wrapper {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
            p {
                color: var(--surface-1);
                a {
                    word-wrap: break-word;
                }
            }
        }
        &.prices {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .prices__prices-wrapper {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                gap: 1.5rem;
                width: fit-content;
                .price-div {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    background: var(--surface-1);
                    border-radius: 2rem;
                    padding: 0.75rem;
                    gap: 0.5rem;
                    width: fit-content;
                    max-width: 480px;
                    header {
                        display: flex;
                        flex-flow: column nowrap;
                        background: var(--surface-2);
                        padding: 1rem;
                        border-radius: 1.5rem;
                        gap: 0.75rem;
                        div {
                            display: flex;
                            flex-flow: row wrap;
                            gap: 0.75rem;
                            p {
                                background: var(--on-surface-1);
                                color: var(--surface-1);
                                padding: 0.5rem 1.125rem;
                                border-radius: 1rem;
                            }
                        }
                    }
                    > div {
                        display: flex;
                        flex-flow: column nowrap;
                        padding: 1rem 0.75rem 1.5rem 0.75rem;
                        p {
                            color: var(--primary);
                        }
                        ul {
                            li {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        }
        &.gift {
            background: var(--surface-1);
            color: var(--primary);
            display: flex;
            flex-flow: column;
            padding: 1.75rem 1rem 1rem 1.25rem;
            gap: 1rem;
            border-radius: 1.5rem;
            h2 {
                color: var(--primary);
            }
            div p {
                color: var(--primary);
            }
            > a {
                align-self: end;
                width: fit-content;
            }
        }
    }
}

@media screen and (min-width: 954px) {
    main {
        padding: 4rem;
        gap: 3.25rem;
        border-radius: 3rem;
        section {
            &.gift {
                border-radius: 2rem;
                padding: 2.25rem;
            }
            &.prices {
                .prices__prices-wrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
                    gap: 1.5rem;
                    width: 100%;
                    .price-div {
                        width: 100%;
                    }
                }
            }
        }
    }
}
