@keyframes modalIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes modalOut {
    from {
        opacity: 1;
        filter: blur(0px);
    }
    to {
        opacity: 0;
        filter: blur(6px);
    }
}

@keyframes modalBackdropIn {
    from {
        background: rgba(0, 0, 0, 0);
        filter: blur(2px);
    }
    to {
        background: rgba(0, 0, 0, 0.5);
        filter: blur(0px);
    }
}
@keyframes modalBackdropOut {
    from {
        background: rgba(0, 0, 0, 0.5);
        filter: blur(0px);
    }
    to {
        background: rgba(0, 0, 0, 0);
        filter: blur(2px);
    }
}

body {
    gap: 4rem;
    padding: 0;
    &.modal-open {
        overflow: hidden;
        height: 100vh;
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 1100px;
    gap: 3rem;
    background: var(--primary);
    border-radius: 2rem;
    section {
        display: flex;
        flex-flow: column nowrap;
        gap: 1.75rem;
        color: var(--surface-1);
        h2 {
            color: var(--surface-1);
            width: 100%;
            text-align: center;
        }
        .paragraph-wrapper {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
            p {
                a {
                    word-wrap: break-word;
                }
            }
        }
        &.prices {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .prices__prices-wrapper {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                gap: 1.5rem;
                width: fit-content;
                .price-div {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    background: var(--surface-1);
                    border-radius: 2rem;
                    padding: 0.75rem;
                    gap: 0.5rem;
                    width: fit-content;
                    max-width: 480px;
                    header {
                        display: flex;
                        flex-flow: column nowrap;
                        background: var(--surface-2);
                        padding: 1rem;
                        border-radius: 1.5rem;
                        gap: 0.75rem;
                        div {
                            display: flex;
                            flex-flow: row wrap;
                            gap: 0.75rem;
                            p {
                                background: var(--on-surface-1);
                                padding: 0.5rem 1.125rem;
                                border-radius: 1rem;
                                // word-wrap: break-word;
                            }
                        }
                    }
                    > div {
                        display: flex;
                        flex-flow: column nowrap;
                        padding: 1rem 0.75rem 1.5rem 0.75rem;
                        p {
                            color: var(--primary);
                        }
                        ul {
                            li {
                                color: var(--primary);
                            }
                        }
                    }
                    button {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        padding: 0.75rem;
                        border: none;
                        border-radius: 1.25rem;
                        background: var(--on-surface-2);
                        cursor: pointer;
                        transition: background 0.2s ease;
                        &:hover {
                            background: rgb(160, 101, 89);
                        }
                        &:active {
                            background: var(--on-surface-2);
                        }
                        p {
                            color: var(--surface-1);
                        }
                    }
                }
            }
        }
        &.gift {
            background: var(--surface-1);
            color: var(--primary);
            display: flex;
            flex-flow: column;
            padding: 1.75rem 1rem 1rem 1.25rem;
            gap: 1rem;
            border-radius: 1.5rem;
            h2 {
                color: var(--primary);
            }
            > a {
                display: flex;
                flex-flow: row nowrap;
                width: fit-content;
                align-self: end;
                padding: 0.75rem 1.25rem 0.75rem 0.75rem;
                gap: 0.5rem;
                border: none;
                border-radius: 1.25rem;
                background: var(--on-surface-2);
                color: var(--surface-1);
                transition: background 0.2s ease;
                &:hover {
                    background: rgb(160, 101, 89);
                }
                &:active {
                    background: var(--on-surface-2);
                }
                p {
                    width: fit-content;
                    text-wrap: nowrap;
                }
            }
        }
    }
}

.modal {
    visibility: hidden;
    inset: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16rem 0;
    z-index: 700;
    inset: 0;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    &.show {
        pointer-events: auto;
        visibility: visible;

        .modal__backdrop {
            animation: modalBackdropIn 0.5s ease forwards;
        }
        .modal__content {
            animation: modalIn 0.5s ease forwards;
        }
    }
    &.closing {
        pointer-events: auto;
        visibility: visible;
        .modal__backdrop {
            animation: modalBackdropOut 0.5s ease forwards;
        }
        .modal__content {
            animation: modalOut 0.5s ease forwards;
        }
    }
    &__backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        z-index: 500;
    }
    &__content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        background: var(--surface-3);
        border-radius: 2rem;
        padding: 1rem;
        gap: 2.25rem;
        width: 100%;
        max-width: 1100px;
        overflow: visible;
        z-index: 600;
        header {
            display: flex;
            flex-flow: column nowrap;
            border-radius: 1.5rem;
            gap: 1rem;
            .title-wrapper {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: 1rem 0.75rem 1rem 1.5rem;
                border-radius: 1.5rem;
                background: var(--primary);
                h3 {
                    color: var(--surface-1);
                }
                button {
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--surface-1);
                    gap: 0.5rem;
                    border-radius: 0.75rem;
                    border: none;
                    cursor: pointer;
                    transition: background 0.2s ease;
                    img {
                        aspect-ratio: 1 / 1;
                        height: 1.75rem;
                    }
                    &:active {
                        background: var(--on-surface-1);
                    }
                }
            }
            .characteristics {
                display: flex;
                flex-flow: row wrap;
                gap: 0.75rem;
                p {
                    color: var(--surface-1);
                    background: var(--on-surface-1);
                    padding: 0.5rem 1.125rem;
                    border-radius: 1rem;
                }
            }
        }
        > div {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
            p {
                color: var(--primary);
            }
            ul {
                li {
                    color: var(--primary);
                }
            }
        }
        a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 0.75rem 1rem 0.75rem 0.75rem;
            gap: 0.5rem;
            width: fit-content;
            align-self: end;
            border: none;
            border-radius: 1.25rem;
            cursor: pointer;
            background: var(--on-surface-2);
            transition: background 0.2s ease;
            &:hover {
                background: rgb(160, 101, 89);
            }
            &:active {
                background: var(--on-surface-2);
            }
            p {
                color: var(--surface-1);
            }
        }
    }
}

@media screen and (min-width: 954px) {
    main {
        padding: 4rem;
        gap: 3.25rem;
        border-radius: 3rem;
        section {
            &.gift {
                border-radius: 2rem;
                padding: 2.25rem;
            }
            &.prices {
                .prices__prices-wrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
                    gap: 1.5rem;
                    width: 100%;
                    .price-div {
                        width: 100%;
                    }
                }
            }
        }
    }
    .modal {
        &__content {
            border-radius: 2.5rem;
            padding: 2rem;
            header {
                border-radius: 1.5rem;
                gap: 1.5rem;
                .title-wrapper {
                    gap: 1rem;
                    padding: 1rem 0.75rem 1rem 1.5rem;
                    border-radius: 1.5rem;
                    button {
                        height: 100%;
                        scale: 1.25;
                        transform-origin: center right;
                        img {
                            aspect-ratio: 1 / 1;
                            height: 100%;
                        }
                    }
                }
            }
            a {
                padding: 1rem 1.5rem 1rem 1rem;
            }
        }
    }
}
