@keyframes moveInFromBottom {
    from {
        transform: translateY(75%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes moveInFromLeft {
    from {
        filter: blur(3px) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5));
        transform: translateX(-100%) rotate(-15deg);
    }
    to {
        filter: blur(0px) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5));
        transform: translateX(0%) rotate(0deg);
    }
}

@keyframes fadeIn {
    from {
        filter: blur(3px);
        opacity: 0;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}

body {
    gap: 64px;
    margin-top: 96px;
}

.hero-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    .hero {
        position: relative;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        gap: 1.5rem;
        margin-bottom: 8rem;
        background: #fff1e3;
        border-radius: 2rem;
        text-align: center;
        background: radial-gradient(
            circle at top center,
            rgba(255, 241, 227, 1) 0%,
            rgba(255, 241, 227, 1) 25%,
            rgba(252, 225, 210, 1) 100%
        );
        border: solid 1px rgba(129, 94, 87, 0.5);
        z-index: 200;
        &.animation {
            .hero__icon,
            .hero__text {
                animation: fadeIn 0.6s ease forwards;
            }
            .hero {
                &__icon {
                    animation-delay: 0ms;
                }
                &__text {
                    animation-delay: 400ms;
                }
            }
        }
        &__icon {
            width: 90%;
            height: fit-content;
            opacity: 0;
        }
        &__text {
            display: flex;
            flex-flow: column nowrap;
            opacity: 0;
            p {
                color: var(--primary);
            }
            p:first-of-type {
                font-family: "Parisienne";
                font-size: 2.25rem;
                font-weight: 500;
            }
            p:last-of-type {
                font-family: "Parisienne";
                font-size: 1.625rem;
                font-weight: 400;
            }
        }
    }
    .curly-line {
        position: absolute;
        bottom: 0;
        height: 400px;
        transform: translateY(45%);
        z-index: 0;
        path {
            stroke-dashoffset: 708px;
            stroke-dasharray: 708px;
            transition: stroke-dashoffset 2s ease;
        }
        &.animation path {
            stroke-dashoffset: 1416px;
        }
    }
}

main {
    background: var(--primary);
    border-radius: 1.5rem;
    padding: 40px 0 0 0;
    gap: 3rem;
    width: 100%;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
    section {
        width: 100%;
        padding: 0 1.75rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;
        &.animation {
            p {
                animation: fadeIn 0.6s ease forwards;
                animation-delay: 100ms;
            }
            p:nth-of-type(2) {
                animation-delay: 200ms;
            }
            p:nth-of-type(3) {
                animation-delay: 300ms;
            }
            p:last-of-type {
                animation-delay: 400ms;
            }
        }
        p {
            color: var(--surface-1);
            opacity: 0;
        }
    }
    aside {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        .photo-frame,
        > img {
            position: absolute;
        }
        .photo-frame {
            bottom: -40%;
            .butterfly {
                opacity: 0.85;
            }
        }
        &.animation {
            .photo-frame {
                animation: moveInFromBottom 0.4s ease forwards;
            }
            .photo-frame:nth-of-type(1) {
                animation-delay: 50ms;
            }
            .photo-frame:nth-of-type(3) {
                animation-delay: 100ms;
            }
        }
        .photo-frame:nth-of-type(1) {
            rotate: 16deg;
            transform: translateY(75%);
            z-index: 50;
            margin-left: 192px;
            .butterfly {
                display: inline-block;
                position: absolute;
                width: fit-content;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }
        }
        .photo-frame:nth-of-type(2) {
            rotate: 8deg;
            z-index: 25;
            transform: translateY(75%);
            .butterfly {
                display: none;
            }
        }
        .photo-frame:nth-of-type(3) {
            rotate: -12deg;
            transform: translateY(75%);
            z-index: 0;
            margin-right: 192px;
            .butterfly {
                position: absolute;
                width: fit-content;
            }
        }
    }
    > img {
        display: none;
    }
}

h2 {
    color: var(--on-surface-2);
    text-align: center;
}

.know-more-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    > div {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        > a {
            opacity: 0;
            &.animation {
                animation: fadeIn 0.4s ease forwards;
            }
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 0.75rem;
            gap: 0.25rem;
            border-radius: 1.5rem;
            scale: 1;
            transition:
                scale 0.2s ease,
                filter 0.2s ease;
            &:hover {
                scale: 1.025;
                z-index: 100;
            }
            &:active {
                scale: 1;
            }
            > div {
                background-color: var(--surface-1);
                width: 72px;
                height: 36px;
            }
            h1 {
                font-size: 1.5rem;
                text-align: center;
                font-weight: normal;
                width: 100%;
            }
        }
    }
    > div:nth-of-type(1) {
        > a:first-child {
            background: var(--primary);
            > div {
                background-color: var(--surface-2);
                mask: url("/assets/svg/headersIcons/who.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--surface-2);
            }
        }
        > a:last-child {
            background: var(--surface-1);
            border: solid 0.5px var(--on-surface-1);
            > div {
                background-color: var(--on-surface-1);
                mask: url("/assets/svg/headersIcons/reviews.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--on-surface-1);
            }
        }
    }
    > div:nth-of-type(2) {
        grid-template-columns: 1.5fr 1fr;
        > a:first-child {
            background: var(--on-surface-2);
            > div {
                background-color: var(--surface-2);
                mask: url("/assets/svg/headersIcons/about.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--surface-2);
            }
        }
        > a:last-child {
            background: var(--on-surface-1);
            > div {
                background: var(--surface-2);
                mask: url("/assets/svg/headersIcons/ethic.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--surface-2);
            }
        }
    }
    > div:nth-of-type(3) {
        grid-template-columns: 1fr 1.5fr;
        > a:first-child {
            background: var(--surface-1);
            border: solid 0.5px var(--on-surface-1);
            > div {
                background-color: var(--on-surface-1);
                mask: url("/assets/svg/headersIcons/formations.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--on-surface-1);
            }
        }
        > a:last-child {
            background: var(--primary);
            > div {
                background-color: var(--surface-2);
                mask: url("/assets/svg/headersIcons/contact.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
            h1 {
                color: var(--surface-2);
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .know-more-section {
        > div {
            > a {
                > div {
                    width: 128px;
                    height: 64px;
                }
                h1 {
                    font-size: 2.25rem;
                }
            }
        }
    }
}

@media screen and (min-width: 954px) {
    body {
        margin-top: 128px;
    }
    .hero-wrapper {
        width: 100%;
        .hero {
            flex-flow: row nowrap;
            padding: 3rem 6rem;
            width: 100%;
            background: radial-gradient(
                circle at top center,
                rgba(255, 241, 227, 1) 0%,
                rgba(255, 241, 227, 1) 50%,
                rgba(252, 225, 210, 1) 85%
            );
            &__icon {
                height: 360px;
                width: fit-content;
            }
            &__text {
                p {
                    text-align: start;
                }
                p:first-of-type {
                    font-size: 3.25rem;
                }
                p:last-of-type {
                    font-size: 2.4rem;
                }
            }
        }
        .curly-line path {
            transition-delay: 200ms;
        }
    }
    main {
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 0;
        gap: 6rem;
        section {
            padding: 4.5rem 4rem 4.5rem 0;
            p {
                z-index: 25;
            }
        }
        aside {
            width: 360px;
            height: auto;
            flex-flow: column nowrap;
            .photo-frame,
            .photo-frame:nth-of-type(1),
            .photo-frame:nth-of-type(2),
            .photo-frame:nth-of-type(3) {
                width: 360px;
                bottom: auto;
                left: -40%;
                margin: 0 !important;
                transform: translateX(-100%) translateY(0) rotate(-15deg);
            }
            .butterfly {
                scale: 2;
            }
            &.animation {
                .photo-frame {
                    animation: moveInFromLeft 0.6s ease forwards;
                }
                .photo-frame:nth-of-type(1) {
                    animation-delay: 50ms;
                }
                .photo-frame:nth-of-type(3) {
                    animation-delay: 100ms;
                }
            }
            .photo-frame:nth-of-type(1) {
                z-index: 25;
                top: -10%;
                .butterfly {
                    display: none;
                }
            }
            .photo-frame:nth-of-type(2) {
                z-index: 50;
                .butterfly {
                    display: inline-block;
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    top: -5%;
                    right: -2.5%;
                }
            }
            .photo-frame:nth-of-type(3) {
                z-index: 25;
                bottom: -10%;
                .butterfly {
                    top: 50%;
                    left: 50%;
                    rotate: -45deg;
                }
            }
        }
        > img {
            display: inline-block;
            position: absolute;
            bottom: -48px;
            right: -8px;
            z-index: 0;
        }
    }
    .know-more-section {
        gap: 1rem;
        max-width: 1100px;
        > div {
            gap: 1rem;
            > a {
                padding: 2rem 4rem;
                gap: 0.5rem;
                border-radius: 40px;
                > div {
                    width: 184px;
                    height: 92px;
                }
                h1 {
                    font-size: 3rem;
                }
            }
        }
        > div:nth-of-type(1) {
            grid-template-columns: 1.2fr 2fr;
            > a:last-child {
                border-width: 1px;
            }
        }
        > div:nth-of-type(2) {
            grid-template-columns: 2fr 1.2fr;
        }
        > div:nth-of-type(3) {
            grid-template-columns: 1.2fr 2fr;
            > a:first-child {
                border-width: 1px;
            }
        }
    }
}
