@keyframes moveInFromBottom {
  from {
    transform: translateY(75%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes moveInFromLeft {
  from {
    filter: blur(3px) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5));
    transform: translateX(-100%) rotate(-15deg);
  }
  to {
    filter: blur(0px) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5));
    transform: translateX(0%) rotate(0deg);
  }
}
@keyframes fadeIn {
  from {
    filter: blur(3px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
body {
  gap: 64px;
  margin-top: 96px;
}

.hero-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-wrapper .hero {
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1.5rem;
  margin-bottom: 8rem;
  background: #fff1e3;
  border-radius: 2rem;
  text-align: center;
  background: radial-gradient(circle at top center, rgb(255, 241, 227) 0%, rgb(255, 241, 227) 25%, rgb(252, 225, 210) 100%);
  border: solid 1px rgba(129, 94, 87, 0.5);
  z-index: 200;
}
.hero-wrapper .hero.animation .hero__icon,
.hero-wrapper .hero.animation .hero__text {
  animation: fadeIn 0.6s ease forwards;
}
.hero-wrapper .hero.animation .hero__icon {
  animation-delay: 0ms;
}
.hero-wrapper .hero.animation .hero__text {
  animation-delay: 400ms;
}
.hero-wrapper .hero__icon {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
}
.hero-wrapper .hero__text {
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
}
.hero-wrapper .hero__text p {
  color: var(--primary);
}
.hero-wrapper .hero__text p:first-of-type {
  font-family: "Parisienne";
  font-size: 2.25rem;
  font-weight: 500;
}
.hero-wrapper .hero__text p:last-of-type {
  font-family: "Parisienne";
  font-size: 1.625rem;
  font-weight: 400;
}
.hero-wrapper .curly-line {
  position: absolute;
  bottom: 0;
  height: 400px;
  transform: translateY(45%);
  z-index: 0;
}
.hero-wrapper .curly-line path {
  stroke-dashoffset: 708px;
  stroke-dasharray: 708px;
  transition: stroke-dashoffset 2s ease;
}
.hero-wrapper .curly-line.animation path {
  stroke-dashoffset: 1416px;
}

main {
  background: var(--primary);
  border-radius: 1.5rem;
  padding: 40px 0 0 0;
  gap: 3rem;
  width: 100%;
  max-width: 1100px;
  position: relative;
  overflow: hidden;
}
main section {
  width: 100%;
  padding: 0 1.75rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
main section.animation p {
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 100ms;
}
main section.animation p:nth-of-type(2) {
  animation-delay: 200ms;
}
main section.animation p:nth-of-type(3) {
  animation-delay: 300ms;
}
main section.animation p:last-of-type {
  animation-delay: 400ms;
}
main section p {
  color: var(--surface-1);
  opacity: 0;
}
main aside {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
main aside .photo-frame,
main aside > img {
  position: absolute;
}
main aside .photo-frame {
  bottom: -40%;
}
main aside .photo-frame .butterfly {
  opacity: 0.85;
}
main aside.animation .photo-frame {
  animation: moveInFromBottom 0.4s ease forwards;
}
main aside.animation .photo-frame:nth-of-type(1) {
  animation-delay: 50ms;
}
main aside.animation .photo-frame:nth-of-type(3) {
  animation-delay: 100ms;
}
main aside .photo-frame:nth-of-type(1) {
  rotate: 16deg;
  transform: translateY(75%);
  z-index: 50;
  margin-left: 192px;
}
main aside .photo-frame:nth-of-type(1) .butterfly {
  display: inline-block;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
main aside .photo-frame:nth-of-type(2) {
  rotate: 8deg;
  z-index: 25;
  transform: translateY(75%);
}
main aside .photo-frame:nth-of-type(2) .butterfly {
  display: none;
}
main aside .photo-frame:nth-of-type(3) {
  rotate: -12deg;
  transform: translateY(75%);
  z-index: 0;
  margin-right: 192px;
}
main aside .photo-frame:nth-of-type(3) .butterfly {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
main > img {
  display: none;
}

h2 {
  color: var(--on-surface-2);
  text-align: center;
}

.know-more-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.know-more-section > div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.know-more-section > div > a {
  opacity: 0;
}
.know-more-section > div > a.animation {
  animation: fadeIn 0.4s ease forwards;
}
.know-more-section > div > a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.75rem;
  gap: 0.25rem;
  border-radius: 1.5rem;
  scale: 1;
  transition: scale 0.2s ease, filter 0.2s ease;
}
.know-more-section > div > a:hover {
  scale: 1.025;
  z-index: 100;
}
.know-more-section > div > a:active {
  scale: 1;
}
.know-more-section > div > a > div {
  background-color: var(--surface-1);
  width: 72px;
  height: 36px;
}
.know-more-section > div > a h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
  width: 100%;
}
.know-more-section > div:nth-of-type(1) > a:first-child {
  background: var(--primary);
}
.know-more-section > div:nth-of-type(1) > a:first-child > div {
  background-color: var(--surface-2);
  -webkit-mask: url("/assets/svg/headersIcons/who.svg");
          mask: url("/assets/svg/headersIcons/who.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(1) > a:first-child h1 {
  color: var(--surface-2);
}
.know-more-section > div:nth-of-type(1) > a:last-child {
  background: var(--surface-1);
  border: solid 0.5px var(--on-surface-1);
}
.know-more-section > div:nth-of-type(1) > a:last-child > div {
  background-color: var(--on-surface-1);
  -webkit-mask: url("/assets/svg/headersIcons/reviews.svg");
          mask: url("/assets/svg/headersIcons/reviews.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(1) > a:last-child h1 {
  color: var(--on-surface-1);
}
.know-more-section > div:nth-of-type(2) {
  grid-template-columns: 1.5fr 1fr;
}
.know-more-section > div:nth-of-type(2) > a:first-child {
  background: var(--on-surface-2);
}
.know-more-section > div:nth-of-type(2) > a:first-child > div {
  background-color: var(--surface-2);
  -webkit-mask: url("/assets/svg/headersIcons/about.svg");
          mask: url("/assets/svg/headersIcons/about.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(2) > a:first-child h1 {
  color: var(--surface-2);
}
.know-more-section > div:nth-of-type(2) > a:last-child {
  background: var(--on-surface-1);
}
.know-more-section > div:nth-of-type(2) > a:last-child > div {
  background: var(--surface-2);
  -webkit-mask: url("/assets/svg/headersIcons/ethic.svg");
          mask: url("/assets/svg/headersIcons/ethic.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(2) > a:last-child h1 {
  color: var(--surface-2);
}
.know-more-section > div:nth-of-type(3) {
  grid-template-columns: 1fr 1.5fr;
}
.know-more-section > div:nth-of-type(3) > a:first-child {
  background: var(--surface-1);
  border: solid 0.5px var(--on-surface-1);
}
.know-more-section > div:nth-of-type(3) > a:first-child > div {
  background-color: var(--on-surface-1);
  -webkit-mask: url("/assets/svg/headersIcons/formations.svg");
          mask: url("/assets/svg/headersIcons/formations.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(3) > a:first-child h1 {
  color: var(--on-surface-1);
}
.know-more-section > div:nth-of-type(3) > a:last-child {
  background: var(--primary);
}
.know-more-section > div:nth-of-type(3) > a:last-child > div {
  background-color: var(--surface-2);
  -webkit-mask: url("/assets/svg/headersIcons/contact.svg");
          mask: url("/assets/svg/headersIcons/contact.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
}
.know-more-section > div:nth-of-type(3) > a:last-child h1 {
  color: var(--surface-2);
}

@media screen and (min-width: 600px) {
  .know-more-section > div > a > div {
    width: 128px;
    height: 64px;
  }
  .know-more-section > div > a h1 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 954px) {
  body {
    margin-top: 128px;
  }
  .hero-wrapper {
    width: 100%;
  }
  .hero-wrapper .hero {
    flex-flow: row nowrap;
    padding: 3rem 6rem;
    width: 100%;
    background: radial-gradient(circle at top center, rgb(255, 241, 227) 0%, rgb(255, 241, 227) 50%, rgb(252, 225, 210) 85%);
  }
  .hero-wrapper .hero__icon {
    height: 360px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero-wrapper .hero__text p {
    text-align: start;
  }
  .hero-wrapper .hero__text p:first-of-type {
    font-size: 3.25rem;
  }
  .hero-wrapper .hero__text p:last-of-type {
    font-size: 2.4rem;
  }
  .hero-wrapper .curly-line path {
    transition-delay: 200ms;
  }
  main {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 0;
    gap: 6rem;
  }
  main section {
    padding: 4.5rem 4rem 4.5rem 0;
  }
  main section p {
    z-index: 25;
  }
  main aside {
    width: 360px;
    height: auto;
    flex-flow: column nowrap;
  }
  main aside .photo-frame,
  main aside .photo-frame:nth-of-type(1),
  main aside .photo-frame:nth-of-type(2),
  main aside .photo-frame:nth-of-type(3) {
    width: 360px;
    bottom: auto;
    left: -40%;
    margin: 0 !important;
    transform: translateX(-100%) translateY(0) rotate(-15deg);
  }
  main aside .butterfly {
    scale: 2;
  }
  main aside.animation .photo-frame {
    animation: moveInFromLeft 0.6s ease forwards;
  }
  main aside.animation .photo-frame:nth-of-type(1) {
    animation-delay: 50ms;
  }
  main aside.animation .photo-frame:nth-of-type(3) {
    animation-delay: 100ms;
  }
  main aside .photo-frame:nth-of-type(1) {
    z-index: 25;
    top: -10%;
  }
  main aside .photo-frame:nth-of-type(1) .butterfly {
    display: none;
  }
  main aside .photo-frame:nth-of-type(2) {
    z-index: 50;
  }
  main aside .photo-frame:nth-of-type(2) .butterfly {
    display: inline-block;
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: -5%;
    right: -2.5%;
  }
  main aside .photo-frame:nth-of-type(3) {
    z-index: 25;
    bottom: -10%;
  }
  main aside .photo-frame:nth-of-type(3) .butterfly {
    top: 50%;
    left: 50%;
    rotate: -45deg;
  }
  main > img {
    display: inline-block;
    position: absolute;
    bottom: -48px;
    right: -8px;
    z-index: 0;
  }
  .know-more-section {
    gap: 1rem;
    max-width: 1100px;
  }
  .know-more-section > div {
    gap: 1rem;
  }
  .know-more-section > div > a {
    padding: 2rem 4rem;
    gap: 0.5rem;
    border-radius: 40px;
  }
  .know-more-section > div > a > div {
    width: 184px;
    height: 92px;
  }
  .know-more-section > div > a h1 {
    font-size: 3rem;
  }
  .know-more-section > div:nth-of-type(1) {
    grid-template-columns: 1.2fr 2fr;
  }
  .know-more-section > div:nth-of-type(1) > a:last-child {
    border-width: 1px;
  }
  .know-more-section > div:nth-of-type(2) {
    grid-template-columns: 2fr 1.2fr;
  }
  .know-more-section > div:nth-of-type(3) {
    grid-template-columns: 1.2fr 2fr;
  }
  .know-more-section > div:nth-of-type(3) > a:first-child {
    border-width: 1px;
  }
}/*# sourceMappingURL=index.css.map */