body {
    gap: 3.5rem;
}

main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    section {
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        &:nth-child(even) {
            .photo-frame {
                rotate: -5deg;
            }
        }
        .text-wrapper {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.25rem;
            width: 100%;
        }
        .button {
            width: fit-content;
            align-self: end;
        }
    }
}

.photo-frame {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
    rotate: 5deg;
    p {
        font-family: "Parisienne";
        font-size: 1.75rem;
    }
}

.modal {
    &__content {
        padding-bottom: 1.75rem;
        .photo-frame {
            gap: 0.5rem;
            padding-bottom: 0.5rem;
            p {
                font-size: 1.75rem;
            }
        }
    }
}

@media screen and (min-width: 954px) {
    main {
        max-width: 1100px;
        padding: 0 2rem;
        gap: 6rem;
        section {
            gap: 5rem;
            flex-flow: row-reverse nowrap;
            &:nth-child(even) {
                flex-flow: row nowrap;
            }
            .photo-frame {
                scale: 1.125;
            }
            .text-wrapper {
                gap: 1.5rem;
            }
        }
    }
    .modal {
        &__content {
            padding-bottom: 3rem;
            .photo-frame {
                p {
                    font-size: 2.25rem;
                }
            }
        }
    }
}
